djangorestframework
psycopg2-binary
django-cors-headers
gunicorn
python-dotenv
Pillow
celery
redis
boto3
django-storages
djangorestframework-simplejwt
django-filter
django-allauth
dj-rest-auth
django-parler
django-parler-rest
requests
cryptography
pymysql
stripe
openai
langdetect
attr